
#section-03{
    padding-top: 40px;
    width: 85%;
    margin: auto; 
}

#section-03 h2{
    margin-bottom: 25px;
    font-family: 'CircularStd-Medium';
    font-size: 33px;
}

#container-section-2{
    display: flex;
    gap: 17px;    
}

.box-area-2{
    width: 25%;
    margin-bottom: 30px;
}

.box-1-section-2 img{
    border-radius: 10px;
    width: 100%;
}

.box-2-section-2 img{
    border-radius: 10px;
    width: 100%;
}

.box-3-section-2 img{
    border-radius: 10px;
    width: 100%;
}

.box-4-section-2 img{
    border-radius: 10px;
    width: 100%;
}

#section-03 p{
    margin-top: 10px;
    font-size: 18px;
    font-family: 'CircularStd-Medium';
}

/* *********** Layout Responsivo *********** */

@media screen and (max-width: 400px) {


    #container-section-2{
        overflow-x: scroll;
        scroll-snap-type: proximity;
    }

    #container-section-2::-webkit-scrollbar{
        display: none;
    }

    .box-area-2{
        width: 300px;
        height: 300px;
    }

    .box-1-section-2 img{
        border-radius: 10px;
        width: 300px;
    }
    
    .box-2-section-2 img{
        border-radius: 10px;
        width: 300px;
    }
    
    .box-3-section-2 img{
        border-radius: 10px;
        width: 300px;
    }
    
    .box-4-section-2 img{
        border-radius: 10px;
        width: 300px;
    }
}