#section-04{
    width: 85%;
    height: 500px;
    margin: auto;
    padding-top:20px ;
}
    
#img-section-4{
    border-radius: 10px;
    width: 100%;
    height: 480px;
    background-image: url(../images/background-section-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#info-section-4{
    font-family: 'Mulish', sans-serif;
    position: relative;
    top: 20%;
    left: 5%;
    width: 370px;
    height: 250px;
}

#info-section-4 h2{
    color: white;
    font-size: 4rem;
    font-weight: 700;   
}

#info-section-4 p{
    color: white;
    font-size: 17px;
    padding-top: 20px; 
    padding-bottom: 60px;   
    line-height: 25px;
}

#botao-section-4{
    font-size: 18px;
    font-weight: 800;
    background-color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    color: black;
}

#botao-section-4:hover{
  background-color: rgb(255,53,92);
  color: white;

}

/* *********** Layout Responsivo *********** */

@media screen and (max-width:400px) {

    #section-04{
        padding-top:35px ;
    }

    #img-section-4{
        margin: auto;
        width: 97%;
        background-image: url(../images/background-section-4-mobile.jpg);
        background-position: bottom;
    }

    #info-section-4{
        text-align: center;
        top: 50px;
        left: 9%;
        width: 250px;
        height: 300px;
    }
    
    #info-section-4 h2{
        font-size: 25px;  
    }
    
    #info-section-4 p{
        font-size: 13px;
        padding-top: 20px; 
        padding-bottom: 30px;   
        line-height: 18px;
    }

    #botao-section-4{
        font-size: 15px;
    }  
}