#section-05{
    width: 85%;
    margin: auto;
}

#section-05 h2{
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: 'CircularStd-Medium';
    font-size: 33px;
}

.img-section-5{
    border-radius: 10px;
    width: 100%;
}

#container-section-5{
    display: flex;
    gap: 17px; 
}

#section-05 p{
    margin-top: 5px;
    font-size: 15px;
    font-family: 'CircularStd-Light';
    padding-bottom: 30px;
}

#section-05 h3{
    margin-top: 20px;
    font-family: 'CircularStd-Medium';
    font-size: 20px;
}

/* *********** Layout Responsivo *********** */

@media screen and (max-width:400px) {

    #container-section-5{
        display: flex;
        gap: 17px; 
        overflow-x: scroll;    
        scroll-snap-type: proximity;
    }

    #container-section-5::-webkit-scrollbar{
        display: none;
    }

    #section-05 h3{
        margin-top: 20px;
        font-family: var(--main-font);
        font-size: 20px;
        text-align: center;
    }

    #section-05 p{
        margin: auto;
        text-align: center;
        width: 250px;
        margin-top: 10px;
        font-size: 15px;
        font-family: var(--main-font);
        padding-bottom: 30px;
        line-height: 18px;
    }

}