nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    position: fixed ;
    z-index: 2;
}

#area-menu{
    width: 85%;
    height: 45px;
    margin: auto;
    transform: translateY(18px);
}

#logo-menu{
    float: left;
    height: 34px;
    transform: translateY(6px);
}

#search-botao{
    text-align: center;  
}

#search-menu{
    position: relative;
    left: 75px;
    background-color:rgb(255, 255, 255) ;
    width: 300px;
    height: 47px;
    padding: 20px 50px 20px 20px;
    border: 1px solid ;
    border-radius: 40px;
    border-color: rgb(214, 214, 214);
    outline-color: rgb(214, 214, 214);
    background-image: url(images/search-icon.png);
    background-repeat: no-repeat;
    background-position: right;    
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.055);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

#area-client-menu{
    width: 270px;
    height: 45px;
    float: right;
}

#client-account{
    display: inline-block;
    border: solid rgb(214, 214, 214);
    border-width: 1px;
    border-radius: 40px;
    width: 105px;
    height: 42px;
}

#img-client-account{
    padding-top: 5px;
    padding-left: 10px;
}

#img-settings-account{
    padding-bottom: 5px ;
    padding-right: 10px;
}

#internet-icon{
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    bottom: 10%;    
}

#anfitriao-link{
    font-family: sans-serif;
    font-weight: 500;
    position: relative;
    bottom: 15%;
    color: black;   
}

a{
    text-decoration: none;
}

/* *********** Layout Responsivo *********** */

@media screen and (max-width:1050px) {


    #area-client-menu{
        display: none;
        
    }

    #area-menu{
        width: 80%;
    }
    
    #search-menu{
        background-color:rgb(245, 245, 245) ;
        width: 70%;
        text-align: center;
        border-color: transparent;
        outline-color: transparent;
    }
    
}

@media screen and (max-width:700px) {

    #logo-menu{
        display: none;
    }

    #area-client-menu{
        display: none;
    }

    #area-menu{
        width: 90%;
    }
    
    #search-menu{
        background-color:rgb(245, 245, 245) ;
        width: 100%;
        left: 0;
        text-align: center;
        border-color: transparent;
        outline-color: transparent;
    }
    
}