/*************** Área do Header ***************/

header{
    width: 100%;
    background-color: white;
    height: 80px;
    position: fixed;
    z-index: 2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.034);
}

#menu-topo-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    height: 80px;
    margin: auto;
}

#menu-bottom-area{
    display: none;
}

/************** Botão Search ***************/

#search-menu{
    font-size: 14px;
    width: 300px;
    height: 47px;
    border-radius: 23px;
    border: 1px solid #dddddd;
    outline: #b6b6b6;
    box-shadow: 2px 2px 3px #b6b6b633;
    background-image: url(images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 260px;
    padding-left: 26px;
    padding-right: 50px;
}




#search-menu:hover{
    box-shadow: 2px 2px 3px #b6b6b67a;
}

/* Linha de código para remover o "x" do botão Search */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/*************** Área do Cliente ***************/

nav{
    text-decoration: none;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 21px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #fc3860;
}

#client-box{
    width: 77px;
    height: 42px;
    border: solid 1px #dddddd;
    border-radius: 27px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#client-box:hover{
    box-shadow: 2px 2px 3px #b6b6b67a;
}

/*************** Área responsiva ***************/

@media screen and (max-width:830px) {
    #search-menu{
        font-size: 14px;
        width: 100%;
        height: 47px;
        border-radius: 23px;
        border: none;
        background-color: #f3f3f3cc;
        background-image: none;
        box-shadow: none;
        text-align: center;
    }

   

    #search-menu:hover{
        box-shadow: none;
    }

    nav{
        display: none;
    }

    #logo-menu{
        display: none;
    }

    #menu-bottom-area{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 88px;
        background-color: white;
        width: 100%;
        height: 65px;
        position: absolute;
        bottom: 0;
        position: fixed;
        border-top: solid 1px rgb(238, 238, 238);
        z-index: 2;
    }

    #menu-bottom-area p{
        padding-left: 2px;
        padding-top: 5px;
        font-size: 10px;
        font-weight: 700;
    }


    #menu-bottom-area a{
        color: black;
        text-decoration: none;
    }  
}
