@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;700&display=swap');

#section-03{
    width: 85%;
    margin: auto;
    
}

#section-03 h2{
    margin-left: 10px;
    margin-bottom: 25px;
    font-family: 'Mulish', sans-serif;
    font-weight:700;
    font-size: 25px;
}

#container-section-2{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.box-area-2{
    width: 380px;
    height: 380px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.box-1-section-2 img{
    border-radius: 10px;
    width: 388px;
}

.box-2-section-2 img{
    border-radius: 10px;
    width: 388px;
}

.box-3-section-2 img{
    border-radius: 10px;
    width: 388px;
}

.box-4-section-2 img{
    border-radius: 10px;
    width: 388px;
}

#section-03 p{
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

/* *********** Layout Responsivo *********** */

@media screen and (max-width: 400px) {


    #container-section-2{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center
    }

    .box-area-2{
        height: 300px;
    }

    .box-1-section-2 img{
        border-radius: 10px;
        width: 300px;
    }
    
    .box-2-section-2 img{
        border-radius: 10px;
        width: 300px;
    }
    
    .box-3-section-2 img{
        border-radius: 10px;
        width: 300px;
    }
    
    .box-4-section-2 img{
        border-radius: 10px;
        width: 300px;
    }

    
    
}