#background-vitrine{
    background-image: url(images/vitrine-01.jpg);
    width: 100%;
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;  
}

#area-button{
    top: 350px;
    font-family: sans-serif;
    position: relative;
    text-align: center;
    height: 100px;
    width: 300px;
    margin: auto;
}

#text-are-button{
    font-weight: 600;
    color: rgb(78, 78, 78);   
}

#button-vitrine{
    color:rgb(255,53,92);
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.233);
    font-size: 15px;
    font-weight: 600;
    padding: 18px 40px 18px 40px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}

#button-vitrine:hover{
    color:rgb(255, 255, 255) ;
    background-color: rgb(255,53,92);
}


/* *********** Layout Responsivo *********** */

@media screen and (max-width:1050px) {
    #background-vitrine{
        background-image: url(images/vitrine-01.jpg);
     
    }

    #area-button{
        top: 400px;
    }


}

@media screen and (max-width:375px) {

    #background-vitrine{
        background-image: url(images/vitrine-02.jpg);
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #area-button{
        top: 230px;
        width: 300px;
        line-height: 23px;
    }
}

