
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;700&display=swap');



#section-02{
    width: 85%;
    margin: auto;
}

#section-02 h2{
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight:700;
    font-size: 28px;
}
.places-images{
    width: 65px;
    height: 65px;

}
#container{
    display:grid;
    grid-template: auto auto / auto auto auto auto;
    gap: 16px;
}

.box-area{
    display: flex;
    flex-direction:row;
    width: 250px;
}

.cidades h3{
    padding-bottom: 10px;
    font-size: 17px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

.cidades p{
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.cidades{
    padding: 10px;
}

/* *********** Layout Responsivo *********** */

@media screen  and (max-width:395px) {
    #container{
        overflow-x: scroll;
        scroll-snap-type: proximity;
        
    }

    #container::-webkit-scrollbar {
        display: none;
      }
      
}